[project]
	description = User space tools and libraries that enable ecryptfs functionality in Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alexnivan
[access "refs/for/refs/*"]
	read = group user/alexnivan
	push = group user/alexnivan
	label-Code-Review = -2..+2 group user/alexnivan
	label-Verified = -1..+1 group user/alexnivan
	rebase = group user/alexnivan
	removeReviewer = group user/alexnivan
	submit = group user/alexnivan
[access "refs/heads/*"]
	read = group user/alexnivan
	create = group user/alexnivan
	push = +force group user/alexnivan
	pushMerge = group user/alexnivan
[access "refs/tags/*"]
	push = +force group user/alexnivan
	pushTag = group user/alexnivan
	pushSignedTag = group user/alexnivan
