[project]
	description = User space tools and libraries that enable ecryptfs functionality in Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nicolae-Alexandru Ivan (alexnivan)
[access "refs/for/refs/*"]
	read = group user/Nicolae-Alexandru Ivan (alexnivan)
	push = group user/Nicolae-Alexandru Ivan (alexnivan)
	label-Code-Review = -2..+2 group user/Nicolae-Alexandru Ivan (alexnivan)
	label-Verified = -1..+1 group user/Nicolae-Alexandru Ivan (alexnivan)
	rebase = group user/Nicolae-Alexandru Ivan (alexnivan)
	removeReviewer = group user/Nicolae-Alexandru Ivan (alexnivan)
	submit = group user/Nicolae-Alexandru Ivan (alexnivan)
[access "refs/heads/*"]
	read = group user/Nicolae-Alexandru Ivan (alexnivan)
	create = group user/Nicolae-Alexandru Ivan (alexnivan)
	push = +force group user/Nicolae-Alexandru Ivan (alexnivan)
	pushMerge = group user/Nicolae-Alexandru Ivan (alexnivan)
[access "refs/tags/*"]
	push = +force group user/Nicolae-Alexandru Ivan (alexnivan)
	pushTag = group user/Nicolae-Alexandru Ivan (alexnivan)
	pushSignedTag = group user/Nicolae-Alexandru Ivan (alexnivan)
